.spin {
  padding: 30px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.transfer-icon {
  font-size: 24px !important;
}

.danger-button {
  background-color: #ff4d4f !important;
}

.danger-button:hover {
  background-color: #ff7875 !important;
}
