.comment {
  white-space: pre-line;
}

.ant-comment-content-detail ul,

.ant-comment-content-detail ul li {
  list-style-type: disc;
}

.ant-comment-content-detail ul {
  padding-left: 40px;
}

.ant-comment-content-detail ol,

.ant-comment-content-detail ol li {
  list-style-type: decimal;
}

.ant-comment-content-detail ol {
  padding-left: 40px;
}
