.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.task-card {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  height: fit-content;
  border-color: rgb(50, 74, 178, 0.2);
  background-color: rgb(50, 74, 178, 0.1);
}

.ant-card-body {
  padding-top: 0px !important;
}

.ant-card-head {
  font-size: 14px !important;
}
