.doc-select {
  width: 100%;
}

.document-info {
  overflow: auto;
  max-height: 300px;
}

.asterisk {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
}
