.link {
  color: #324AB2;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer-btn {
  color: #fff !important;
}

.reset-btn {
  border-color: #324AB2;
  color: #324AB2;
}

.zip-icon {
  font-size: 20px;
}

.row-hover:hover {
  cursor: pointer;
}

.transfer-doc-btn {
  width: 115px;
}

.transfer-doc-btn:disabled {
  color: white !important;
  background-color: lightgray !important;
}

.transfer-doc-wrapper {
  display: flex;
  flex-direction: column;
}
