.ant-btn-primary {
  background-color: #324ab2 !important;
}

.ant-btn-primary:hover {
  background-color: #1a34ab !important;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.login-screen {
  height: 100vh;
  width: 100vw;
}

.ant-card {
  width: 60vh;
  height: 60vh;
  border-radius: 30px;
}

.forgot-password {
  color: #1a34ab;
  font-weight: bold;
  float: right;
  margin-bottom: 23px;
  margin-top: -15px;
  position: relative;
  z-index: 1000;
}

.forgot-password:hover {
  color: #546bbf;
}
